* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: url("../assets/upload-bg.png") no-repeat center center/cover;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

/* Back button */
.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}
.back-btn:hover {
  opacity: 0.6;
}

/* Title */
.title {
  margin-top: 10px;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
}

/* Container */
.profile-container {
  width: 60%;
  margin: 60px auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

label {
  font-size: 1.2rem;
  display: block;
  margin-top: 25px;
  font-weight: 400;
}

input {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #111;
  color: white;
}

/* Wallet row */
.wallet-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.copy-btn {
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #fde4ff, #ffc9f7, #f8deff);
  transition: 0.3s ease-in-out;
}
.copy-btn:hover {
  transform: translateY(-3px);
}

/* Buttons */
.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.save-btn,
.logout-btn {
  padding: 14px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(90deg, #1d0028, #2f0447, #1d0028);
  color: rgb(143, 143, 143);
}
    
.save-btn:hover,#1d0028, #2f0447, #1d0028
.logout-btn:hover {
  transform: translateY(-3px);
  background: linear-gradient(90deg, #9d4edd, #7b2cbf);
}